@import '../../scss/variables.scss';
@import '../../scss/typography.scss';

.article {
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 10px;

  &_avatar {
    max-width: 20px;

    img {
      border-radius: 50%;
      width: 100%;
    }
  }

  &_name {
    @include small-description;
  }
}

.title {
  display: block;
  margin-bottom: 12px;
  transition: all 0.3s ease;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: $text-main;

  &:hover {
    color: $bg-accent;
  }
}

.description {
  font-family: 'Inter';
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: $text-second;

  margin-bottom: 18px;
}

