@import '../../../scss/typography.scss';

.auth {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 40px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 15px;
}

.img {
  width: 50px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.username {
  @include label;
}

