.skeleton {
  position: relative;
  height: 450px;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  background-image: linear-gradient(#f5f7f9 7px, transparent 0),
    linear-gradient(#f5f7f9 7px, transparent 0),
    linear-gradient(#f5f7f9 7px, transparent 0),
    linear-gradient(#f5f7f9 7px, transparent 0),
    linear-gradient(#f5f7f9 7px, transparent 0),
    linear-gradient(#f5f7f9 15px, transparent 0),
    linear-gradient(#f5f7f9 10px, transparent 0),
    radial-gradient(circle 20px at 20px 20px, #f5f7f9 99%, transparent 0);
  background-repeat: repeat-y;
  background-size: 70px 150px, 70px 150px, 70px 150px, 620px 150px, 690px 150px,
    550px 150px, 100px 150px, 40px 150px;
  background-position: 240px 120px, 120px 120px, 12px 120px, 12px 105px,
    12px 90px, 12px 67px, 68px 28px, 12px 12px;

  &:before {
    content: ' ';
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 450px;
    -webkit-mask-image: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    );
    -webkit-mask-repeat: repeat-y;
    -webkit-mask-size: 50px 450px;
    -webkit-mask-position: -20% 0;
    background-image: linear-gradient(rgba(218, 218, 218, 1) 7px, transparent 0),
      linear-gradient(rgba(218, 218, 218, 1) 7px, transparent 0),
      linear-gradient(rgba(218, 218, 218, 1) 7px, transparent 0),
      linear-gradient(rgba(218, 218, 218, 1) 7px, transparent 0),
      linear-gradient(rgba(218, 218, 218, 1) 7px, transparent 0),
      linear-gradient(rgba(218, 218, 218, 1) 15px, transparent 0),
      linear-gradient(rgba(218, 218, 218, 1) 10px, transparent 0),
      radial-gradient(
        circle 20px at 20px 20px,
        rgba(218, 218, 218, 1) 99%,
        transparent 0
      );
    background-repeat: repeat-y;
    background-size: 70px 150px, 70px 150px, 70px 150px, 620px 150px,
      690px 150px, 550px 150px, 100px 150px, 40px 150px;
    background-position: 240px 120px, 120px 120px, 12px 120px, 12px 105px,
      12px 90px, 12px 67px, 68px 28px, 12px 12px;
    animation: skeleton 2s infinite;
  }
}

@keyframes skeleton {
  to {
    -webkit-mask-position: 120% 0;
  }
}
